#info-container {
    margin: 0 auto;
    padding: 2em 5%;
    width: 75%;
    background-color: #1c1c1c;
    color:white
}

#info-card {
    border: 5px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #585858;
    align-items: center;
}

div > img {
    height: 30%;
    width: 30%;
    max-height: 60%;
    max-width: 60%;
    border-radius: 20px;
    margin: 1%;
}

@media (max-width: 750px) {  
    #info-card {
      margin-bottom: 10%;
    }
    
    #info-card ul {
      padding: 0;
    }

    div > img {
        height: 60%;
        width: 60%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 20px;
        margin: 1%;
    }

    #info-container p {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
  }