#project-card {
    border: 5px solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
			"b c";
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #585858;
    align-items: center;
}

#projects-container h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    padding-bottom: 1em;
}

#projects-container {
    margin: 0 auto;
    padding: 2em 5%;
    width: 75%;
    background-color: #1c1c1c;
}

#project-info {
    grid-area: c;
    padding-left: 1%;
    padding-top: 2%;
    align-items: center;
}

#project-info a {
    color: white;
}

#project-card > img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    grid-area: b;
    margin: 1%;

}

@media (max-width: 750px) {
    #project-card {
        grid-template-columns: 100%;
        grid-template-areas: 
            "b"
            "c";
    }
    #project-info {
        padding-left: 0;
    }
    #project-card > img {
        padding: 0;
        margin: 0;
    }
}